# Node  
node_modules/
npm-debug.log
yarn-error.log

# Expo  
.expo/
.expo-shared/

# VSCode  
.vscode/

# Local env files
.env
.env.example

# Build output
dist/
coverage/

# Local env files
backend/.env
backend/.env.example

# Backend build & coverage
backend/dist/
backend/coverage/
frontend-mobile/
